{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/material-dashboard.min.css' %}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card" style="margin-top: 24%;margin-left: 25%;">
                    <div class="card-header card-header-primary">
                  <h4 class="card-title">Admin Login</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary">giriş</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



















