{% extends 'dashboardmain.html' %}
{% load static %}

{% block body %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title" style="width:80%;float:left;">Kategoriler</h4>
                  <a href='{% url "management:addcategory" %}' style="float:right" class="btn">Kategori Ekle</a>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Kategori Adı
                        </th>
                        <th>
                          Url
                        </th>
                        <th>
                          Durum
                        </th>
                        <th>
                          Eylemler
                        </th>

                      </thead>
                      <tbody>
                      {% for cat in category%}
                        <tr>
                          <td>
                            {{cat.id}}
                          </td>
                          <td>
                            {{cat.name}}
                          </td>

                          <td>
                            {{cat.slug}}
                          </td>
                          <td>
                            {{cat.get_active}} <a href="{% url 'management:change_status' cat.id %}"><i class="material-icons">edit</i></a>
                          </td>
                          <td style="width: -moz-min-content;">
                            <a href="{% url 'management:updatecategory' cat.id %}">Düzenle
                              </a>

                          </td>




                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
 {% endblock %}