{% extends 'dashboardmain.html' %}
{% load static %}

{% block body %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Sipariş ID : {{order_detail.order_id}}</h4>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        
                        <th>
                          Tarih
                        </th>
                        <th>
                          Tutar
                        </th>
                        <th>
                          Durum
                        </th>
                        
                        <th>
                          Sipariş Sahibi
                        </th>
                        

                      </thead>
                      <tbody>
                      
                        <tr>
                          <td>
                            {{order_detail.timestamp}}
                          </td>
                          <td>
                            {{order_detail.order_total}} ₺
                          </td>
                          <td>
                            {{order_detail.status}}
                          </td>
                          <td>
                            {{order_detail.billing_profile.user}}
                          </td>
                          <td style="width: -moz-min-content;">
                            <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                              <i class="material-icons">edit</i><div class="ripple-container"></div></button>
                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                              <i class="material-icons">close</i>
                            </button>
                          </td>




                        </tr>
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12" style="float:left;">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Ürünler</h4>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        
                        <th>
                          Ürün Adı
                        </th>
                        <th>
                          Fiyat
                        </th>
                        <th>
                          Kod
                        </th>

                        

                      </thead>
                      <tbody>
                      



                      {% if not order_list %}
                        {% for pro in order_detail.cart.products.all %}
                        <tr>
                            <td>
                              {{pro.name}}
                            </td>
                            <td>
                              {{pro.discount_price}} ₺
                            </td>
                            <td> Ödeme /Teslimat Bekleniyor</td>
                            <td><a href="{% url 'management:addordersdetail' order_id=order_detail.order_id product_id=pro.id %}"> Düzenle</a></td>
                            <td style="width: -moz-min-content;">
                              <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                <i class="material-icons">edit</i><div class="ripple-container"></div></button>
                              <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                <i class="material-icons">close</i>
                              </button>
                            </td>
                          </tr>
                        {% endfor %}
                        
                      {% else %}
                      
                        {% for p,pin in order_list %}
                    
                          <tr>
                            <td>
                              {{p}}
                            </td>
                            <td>
                              {{p.discount_price}} ₺
                            </td>

                            {% if not order_detail.cart.pin_code.all %}

                             <td> Ödeme Bekleniyor/Teslimat</td>

                            {% else %}

                            <td>{{pin.pin_code}}</td>
                            {% endif %}
                            <td>
                            {% if not pin.id %}
                            <a href="{% url 'management:addordersdetail' order_id=order_detail.order_id product_id=p.id %}"> Düzenle</a>
                            {% else %}
                            <a href="{% url 'management:updateordersdetail' order_id=order_detail.order_id product_id=p.id pincode_id=pin.id %}"> Düzenle</a>
                            {% endif %}
                            




                            </td>
                            <td style="width: -moz-min-content;">
                              <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                <i class="material-icons">edit</i><div class="ripple-container"></div></button>
                              <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                <i class="material-icons">close</i>
                              </button>
                            </td>




                          </tr>
                  
                        {% endfor %}
                        
                      {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
 {% endblock %}