{% extends 'dashboardmain.html' %}
{% load static %}

{% block body %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Siparişler</h4>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Sipariş ID
                        </th>
                        <th>
                          Tarih
                        </th>
                        <th>
                          Durum
                        </th>
                        
                        <th>
                          Eylemler
                        </th>

                      </thead>
                      <tbody>
                      {% for order in orders %}
                        <tr>
                          <td>
                            {{order.order_id}}
                          </td>
                          <td>
                            {{order.timestamp}}
                          </td>
                          <td>
                            {{order.status}}
                          </td>
                          <td style="width: -moz-min-content;">
                            <a href="{% url 'management:showordersdetail' order.order_id %}">Sipariş Detayı</a>
                          </td>




                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
 {% endblock %}