{% extends 'main.html' %}
{% load static %}

{% block body %}
<div class="container container-top">
    <div class="row">
      
      <div class="col-lg-12">
        <div class="cart-success">
        <h1> Siparişiniz alınmıştır.</h1>
        <p>Sipariş Kodunuz : {{order_id}}</p>
        <p>Ödemeniz onaylanamıyor.</p>
        <p>Detaylı bilgi için sipariş kodunuzu whatsapp üzerinden iletiniz</p>
     
        </div>
        
      </div>
        
    </div>
</div>

 
        

{% endblock body %}

{% block js %}


{% endblock js %}