{% extends 'main.html' %}
{% load static %}

{% block body %}
<div class="container container-top">
    <div class="row">

        <div class="col-12">
        {{order_id}}
            
        </div>
        <iframe src="https://www.paytr.com/odeme/guvenli/{{token}}" id="paytriframe" frameborder="0" scrolling="no" style="width: 100%;"></iframe>

        
      </div>
</div>
 
        

{% endblock body %}

{% block js %}

  <script src="https://www.paytr.com/js/iframeResizer.min.js"></script>
  <script>iFrameResize({},'#paytriframe');</script>

{% endblock js %}