{% extends 'main.html' %}
{% load static %}

{% block body %}
<div class="container container-top">
    <div class="row">
      
      <div class="col-lg-12">
        <div class="cart-success">
        <h1> Siparişiniz alınmıştır.</h1>
        <p>Teslimatın tamamlanması için; <br>
        bir ödeme yöntemi seçiniz.</p>
        {% comment %} <p>Teslimatın tamamlanması için; <br>
        TR77 0006 2001 5960 0006 2989 74 <br> iban numarasına ödemenizi yapınız. <br>
        Ödeme onayından sonra kodunuz ortalama 10 dakika içinde teslim edilecektir.<br>
        Bakiye gönderiminde açıklama kısmına e posta adresini ve sipariş kodunuzu yazızınız.</p> {% endcomment %}
        </div>
        
      </div>
      <div class="col-12">
        <div class="col-md-6 col-12" style="float:left;padding: 16px;">
          <button id="havale" class="add-basket-btn pay" onclick="showh()">Havale ile Öde</button>
        </div>
        <div class="col-md-6 col-12" style="float:left;padding: 16px;">
          <button id="kredi" class="add-basket-btn pay">Kredi Kartı İle Öde</button>
        </div>
      </div>
      <div class="cart-success" id="showh" style="display:none;">
        <p>Teslimatın tamamlanması için; <br>
        TR77 0006 2001 5960 0006 2989 74 <br> iban numarasına ödemenizi yapınız. <br>
        Ödeme onayından sonra kodunuz ortalama 10 dakika içinde teslim edilecektir.<br>
        Bakiye gönderiminde açıklama kısmına e posta adresini ve sipariş kodunuzu yazızınız.</p>
        </div>
        </div>
</div>

 
        

{% endblock body %}

{% block js %}
<script>
  
  
</script>
  

{% endblock js %}