{% extends 'main.html' %}
{% load static %}
{% load django_template_maths %}
{% block title %}{{ct.title}}{% endblock title %}
{% block description %}{{ct.meta_desc}}{% endblock description %}
<style>
        {% block css %}
        .container-top{
          margin-top:150px;
        }
        {% endblock %}
    </style>

{% block body %}
<div class="container container-top">
    <div class="row">
        <div class="col-12">
          <div class="out-text">
            <div class="col-12 temp">
            <h1 style="color:orangered;">İPTAL VE İADE KOŞULLARI</h1>
        </div>
        <div class="col-12 temp">
          <p>
            Satın almak istediğiniz ürünün stoklarda kalmaması halinde site hesabınıza yatırdığınız bakiyeyi, bakiye yüklerken kullandığınız ödeme kanalı üzerinden geri alabilirsiniz. Örneğin EFT/Havale işlemi ile bakiye yüklediyseniz para iadesi banka hesabınıza gönderilir. Kredi kartı ile yaptığınız bakiye yükleme işlemlerinin iadesi ise tekrar kredi kartına yapılır. Fakat mobil ödeme ile yaptığınız ödemelerin hiçbir şekilde iadesi mümkün değildir.
 
<br>İade taleplerinizi canlı destek hattımızdan veya info@oyunganimeti.com adresinden bizlere iletebilirsiniz.
<br><br><h3>İptal ve İade Koşulları</h3>
<br>Oyunganimeti.com Kullanıcı Sözleşmesi'nde yer aldığı üzere kullanılmış ürünler ile tek kullanımlık ürünler, kopyalanabilir oyun, yazılım, teslimatı dijital ortamda yapılan ürünler ve programların iadesi kabul edilmemektedir. Bunun dışındaki iade talepleriniz için, sipariş ettiğiniz ürünü teslim aldıktan sonra herhangi bir nedenden dolayı iade etmek istediğinizde izlemeniz gereken yol ve bilmeniz gerekenler şu şekildedir: 
<br>Eğer almış olduğunuz ürün hatalı ve sorun firmadan kaynaklı ise sorumluluk firmamıza aittir. Belirtilen durumda ürünün iadesi ya da değişimi gerekli kontroller sonrasında sağlanacaktır. 
<br>İadenizi onaylamadan önce ürünle alakalı inceleme, "iade birimimiz" tarafından gerçekleştirilmektedir. Sorunlu olduğuna kanaat getirilen ürünler gerekli durumlarda test edilmekte ve iade onayı buradan gelen karara dayanarak verilmektedir. 
<br> 
<br><br><h3>Yanlış Tanıtılan Ürünler:</h3>
<br>Kullanıcı aldığı ürünlerde, Oyunganimeti.com sitesi tarafından yanlış veya eksik bilgi girilmesi durumunda, Oyunganimeti.com koşulsuz şartsız ürünü iade alır para iadesi ya da istenilen ürünü teslim eder. Doğabilecek fiyat farkları Oyunganimeti.com tarafından karşılanır. Kullanıcıya yeterli ve doğru bilgilendirme yapıldığı takdirde yanlış alınan ürün kişiye özel olduğundan iade sağlanmaz ve Oyunganimeti.com hiçbir sorumluluk kabul etmez. Kullanılmış ürünler, aktif edilmiş kodlar ve teslim edilmiş oyun paraları kabul edilmemektedir. 
<br><br><h3>İade Kapsamı Dışındaki Ürünler:</h3> 
<br>6502 sayılı Tüketicinin Korunması Hakkında Kanun'unda yer aldığı üzere orjinal ambalajı zarar görmüş, tahrip edilmiş, herhangi bir şekilde kullanımdan dolayı zarar görmüş ürünler ile tek kullanımlık ürünler, kopyalanabilir oyun, yazılım, teslimatı dijital ortamda yapılan ürünler ( epin, hesap, karakter, item, oyun parası vb ) ve programların iadesi kabul edilmemektedir. 


              </p>
        </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}