{% load static %}
<nav class="nav-bar">
  <div class="nav-container">
    <div class="nav-content">
      <div class="logo">
        <a href="{% url 'index' %}"><img src="{% static 'img/ganimetlogo.png' %}" alt=""></a>
      </div>
      <div class="nav-inner">
        <ul>
        <li class="li" id="li">Oyunlar<ul id="ul">

          {% for cate in category %}
          <li><a href="{% url 'category' cate.slug %}">{{cate.name}}</a></li>

          {% endfor %}
          </ul>
          </li>
          <li><a href="#">Haberler</a></li>
          <li><a href="{% url 'contact' %}">İletişim</a></li>
          <li><a href="{% url 'sss' %}">Yardım</a></li>
        </ul>
      </div>
      <div class="right">
        <div class="right-items">
          <img src="{% static 'img/magnifying-glass.png'%}" alt="">
        </div>
        <div class="right-items" id="user">
          <img src="{% static 'img/user.png'%}" alt="">
          <div class="user-mini"  id="usermini">
          {% if request.user.is_authenticated %}
              <h1>{{request.user.email}}</h1>
              <ul>
                <li><i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i><a href='{% url "user_orders" %}'>Alışverişlerim</a></li>
                <li><i class="fa fa-user" aria-hidden="true"style="margin-right:10px;"></i><a href='#'>Profil</a></li>
                <li><i class="fa fa-ticket" aria-hidden="true"style="margin-right:10px;"></i><a href='#'>Destek Taleplerim</a></li>
                <li><i class="fa fa-sign-out" aria-hidden="true"style="margin-right:10px;"></i><a href='{% url "logout" %}'>Çıkış Yap!</a></li>
              </ul>

          {% else %}
            <h1><a href='{% url "loginsite" %}'>Giriş Yap</a></h1>
            <h1><a href='{% url "registersite" %}'>Üye Ol</a></h1>
          {% endif %}

          </div>
        </div>
        <div class="right-items" style="position:relative;">
          <img id="basket" src="{% static 'img/shopping-bag.png'%}" alt="">
           {% if cart_count.products.all.exists%}
            <span class="basket-count">{{cart_count.products.count}}</span>
          {% else %}
            <span class="basket-count">0</span>
          {% endif %}
        </div>
        <div id="basketin" class="basket-in">
          <div class="cart-header">
            <h1>Sepetim</h1>
            <span><i id="cross" class="fa fa-times"></i></span>
          </div>
          <div class="cart-body">
            {% if cart_count.products.all.exists%}
        
          

            {% for pro in cart_count.products.all %}
            <div class="cart-body-items">
              <img src="{{pro.productimg.url}}" alt="">
              <h2>{{pro.name}}</h2>
              <h3 class="cross">{{pro.sale_price}}₺</h3><h3>{{pro.discount_price}}₺</h3>
              <div class="trash">
                <button style="background:none;border:none;" class="delItem" value={{pro.id}}><i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>

            </div>
            {% endfor %}
          
          
          {% else %}
            <p style="margin:2px 15px;font-size:15px;">Henüz Ürün Eklenmemiş</p>
          {% endif %}
                </div>
          <div class="half-total">
            <h2>Ara Toplam :</h2>
            <p>
              {% if cart_count.toplam != 0 %}
                {{cart_count.total}}₺

              {% else %}
              0.00 ₺
              {% endif %}</p>
          </div>
        <div class="total">
          
              
            <span id="go-crt" class="button-basket">SEPETE GİT <i style="font-size: 18px;margin-left:10px;" class="fa fa-shopping-cart"></i></span>
        </div>
        
      </div>
      </div>
    </div>
  </div>
</nav>

