{% extends 'main.html' %}
{% load static %}

{% block body %}
<div class="container container-top">
  <div class="row">

    <div class="col-12 order-out" style=float:left;>
     <h1>Siparişlerim</h1>
      <div class="col-12 " style="float:left;">
        {% if orders %}
        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">Sipariş Kodu</th>
              <th scope="col">Tarih</th>
              <th scope="col">Toplam</th>
              <th scope="col">Sipariş Detayı</th>
              
              
            </tr>
          </thead>
          <tbody>
          {% for order in orders %}
            <tr>
              
              <td>{{order.order_id}}</td>
              <td>{{order.timestamp}}</td>
              <td>{{order.order_total}} ₺</td>
              
              <td><a href="{% url 'user_orders_detail' order.order_id %}" class="loginbtn" style="background:none;color:white;">Sipariş Detayı</a></td>
              
            </tr>
          {% endfor %}
        </table>
        {% else%}
            kart boş
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}