{% extends 'main.html' %}
{% load static %}
{% load django_template_maths %}
{% block title %}{{ct.title}}{% endblock title %}
{% block description %}{{ct.meta_desc}}{% endblock description %}
<style>
        {% block css %}
        .container-top{
          margin-top:150px;
        }
        {% endblock %}
    </style>

{% block body %}
<div class="container container-top">
    <div class="row">
        <div class="col-12 temp">
            <h1>SIKÇA SORULAN SORULAR</h1>
        </div>
        <div id ="tempsss" class="col-12 tempsss">
          <div class="tempalt">
            <h2>Nasıl Üye Olurum ?</h2><i class="fa fa-angle-down fs"></i>
            <p>Üye girişinden sitemize üye olabilirsiniz……..</p>
          </div>
          <div class="tempalt">
            <h2>E-Pin nedir?</h2><i class="fa fa-angle-down fs"></i>
            <p>Epin, tüm dünyada kabul edilen bir ödeme yöntemidir. E-pinin bir ödeme yöntemi olarak kullanılabilmesi demek, satın aldığınız epin ile, ilgili mecraya, e-pinin karşılığı kadar “ücret” ödediğiniz anlamına gelmektedir. Bir çok oyunda kullanılan ödeme yöntemidir.</p>
          </div>
          <div class="tempalt">
            <h2>Aldığım Epin’i Nereden Görüntüleyeceğim?</h2><i class="fa fa-angle-down fs"></i>
            <p>Aldığınız epinleri ‘’Alınan Epinler’’ sayfasından görüntüleyebilirsiniz.</p>
          </div>
          <div class="tempalt">
            <h2>E-Pin aldım ancak yükleyemiyorum, ne yapmam lazım?</h2><i class="fa fa-angle-down fs"></i>
            <p>Satın aldığınız sayfadaki adımları takip ederek epin kodunuzu aktif edebilirsiniz.</p>
          </div>
          <div class="tempalt">
            <h2>Kod Aldığımda Ne zaman Teslim Edilir?</h2><i class="fa fa-angle-down fs"></i>
            <p>Satın aldığınız kodlar mesai saatleri içinde ortalama <strong>10 Dakika</strong> içinde teslim edilir.</p>
          </div>
          <div class="tempalt">
            <h2>Epin Hediye Edebilir miyim?</h2><i class="fa fa-angle-down fs"></i>
            <p>Satın aldığınız kodlar hesabına yüklenmez ama istediğiniz kişiye kodu kullanmadan teslim edebilirsiniz. Daha sonra arkadaşınız kendi hesabı içinde aktif edebilir.</p> 
          </div>
          <div class="tempalt">
            <h2>Kod ile ilgili sorun yaşanması durumunda ne yapmalıyım?</h2><i class="fa fa-angle-down fs"></i>
            <p>Satın aldığınız ürünler ,E-pin kodları direkt üretici firma veya yetkili satıcılardan tedarik edilmektedir, bir sorunla karşılaşma durumunuz çok düşük olsa dahi yanlış yerden aktif etmenizden dolayı sorun yaşanabilir. Aldığınız ürünü doğru yerden aktif ettiğinizi düşünüyor ve sorununuz devam ediyor ise en kısa süre de canlı destek ile iletişime geçebilir ya da sorun bildiriminde bulunabilirsiniz Yetkili departmanımız sizi en iyi şekilde yönlendirecek ve gerektiği durumda sorunun net teyit edilebilmesi için Hatalı kod bildirimi yaptıracaktır. Hatalı kod bildiriminiz direk üretici firma/yetkili satıcı tarafından kontrol edilip sonuçlandırılmaktadır. Gerekli kontroller sağlandıktan sonra en kısa sürede geri dönüş sağlanır ve yardımcı olunur.</p>  
          </div>
          <div class="tempalt">
            <h2>Epin Satın Aldım İade Etmek İstiyorum, ne yapabilirim?</h2><i class="fa fa-angle-down fs"></i>
            <p>Epin, online teslimat ürünleri, dijital kod gibi ürünlerin iptal ve iadesi bulunmamaktadır. Sadece kod ile ilgili bir sorun olması durumunda gerekli kontroller sağlanır ve kod ile ilgili yardımcı olunur.</p> 
          </div>
          <div class="tempalt">
            <h2>Nasıl bakiye ekleyebilirim?</h2><i class="fa fa-angle-down fs"></i>
            <p>Bakiye yükleme sayfamızdan sizin için en uygun yöntemi seçerek Havale-EFT, Razer kod, steam cüzdan kodu ve birçok ödeme yöntemi ile işlem sağlayabilirsiniz. Ödeme sayfası sizi en doğru şekilde yönlendirecektir. Ödeme bildiriminde istenilen bütün bilgileri eksiksiz bir şekilde girmeniz durumunda ve ödeme bildiriminden gelen aramayı ya da mesajı onaylamanız durumunda sorunsuz bir şekilde ödeme işleminizi tamamlamış olursunuz. Bir sorun olması durumunda canlı destek üzerinden yazın en doğru şekilde yönlendirmeyi sağlayalım.</p>
          </div>
          <div class="tempalt">
            <h2>Mobil Ödeme nasıl yapabilirim?</h2><i class="fa fa-angle-down fs"></i>
            <p>Şu an için mobil ödeme sitemizde mevcut değildir. İlerleyen süreçte mobil ödeme sistemi de aktif olacaktır. Konuyla ilgili site ve sosyal medya üzerinden gerekli bilgilendirmelere yapılacaktır.</p>
          </div>
          <div class="tempalt">
            <h2>Havale/EFT İle Ödeme Nedir?</h2><i class="fa fa-angle-down fs"></i>
            <p>Havale aynı bankadan, EFT ise farklı bankadan yapılan ödeme sistemidir.Havale ile istediğiniz saate, EFT ile ise haftaiçi saat 16:00’ a kadar ödeme işlemi sağlayabilirsiniz</p> 
          </div>
          <div class="tempalt">
            <h2>Havale İşlemlerinde Kesinti Var mı?</h2><i class="fa fa-angle-down fs"></i>
            <p>Havale işlemlerinde kesinti ücreti alınabilir. Ödeme yaparken bankanız üzerinden görüntüleyebilirsiniz.</p>
          </div>
          <div class="tempalt">
            <h2>Kredi Kartı İle Ödeme Yapabilir miyim?</h2><i class="fa fa-angle-down fs"></i>
            <p>Ödeme yöntemlerimizden Kredi kartı ile ödeme seçeneğinden işlemlerinizi sağlayabilirsiniz.</p>
          </div>
          <div class="tempalt">
            <h2>Üye Olmadan Ödeme İşlemi Sağlayabilir miyim?</h2><i class="fa fa-angle-down fs"></i>
            <p>Ödeme işlemi ve satın alım işlemi yapabilmeniz için öncelikle üye olmanız gerekmektedir.</p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}