{% extends 'main.html' %}
{% load static %}
{% load django_template_maths %}
{% block title %}{{ct.title}}{% endblock title %}
{% block description %}{{ct.meta_desc}}{% endblock description %}
<style>
        {% block css %}
        .container-top{
          margin-top:150px;
        }
        {% endblock %}
    </style>

{% block body %}
<div class="container container-top">
    <div class="row">
        <div class="col-12 temp">
            <h1>SIKÇA SORULAN SORULAR</h1>
        </div>
        <div class="col-12 temp">
          <p>
          Nasıl Üye Olurum?

<br>Üye girişinden sitemize üye olabilirsiniz……..

<br>E-Pin nedir?
<br>
<br>Epin, tüm dünyada kabul edilen bir ödeme yöntemidir. E-pinin bir ödeme yöntemi olarak kullanılabilmesi demek, satın aldığınız epin ile, ilgili mecraya, e-pinin karşılığı kadar “ücret” ödediğiniz anlamına gelmektedir. Bir çok oyunda kullanılan ödeme yöntemidir.
<br>Aldığım Epin’i Nereden Görüntüleyeceğim?
<br>Aldığınız epinleri ‘’Alınan Epinler’’ sayfasından görüntüleyebilirsiniz.
<br>E-Pin aldım ancak yükleyemiyorum, ne yapmam lazım? 
<br>
<br>Satın aldığınız sayfadaki adımları takip ederek epin  kodunuzu aktif edebilirsiniz. 
<br>
<br>Kod Aldığımda Ne zaman Teslim Edilir?
<br>
<br>Satın aldığınız kodlar mesai saatleri içinde ortalama <strong>10 Dakika</strong> içinde teslim edilir.
<br>
<br>Epin Hediye Edebilir miyim?
<br>
<br>Satın aldığınız kodlar hesabına yüklenmez ama istediğiniz kişiye kodu kullanmadan teslim edebilirsiniz. Daha sonra arkadaşınız kendi hesabı içinde aktif edebilir.
<br>
<br>
<br>
<br>Kod ile ilgili sorun yaşanması durumunda ne yapmalıyım?
<br>
<br>Satın aldığınız ürünler ,E-pin kodları direkt üretici firma veya yetkili satıcılardan tedarik edilmektedir, bir sorunla karşılaşma durumunuz çok düşük olsa dahi yanlış yerden aktif etmenizden dolayı sorun yaşanabilir. Aldığınız ürünü doğru yerden aktif ettiğinizi düşünüyor ve sorununuz devam ediyor ise en kısa süre de canlı destek ile iletişime geçebilir ya da sorun bildiriminde bulunabilirsiniz Yetkili departmanımız sizi en iyi şekilde yönlendirecek ve gerektiği durumda sorunun net teyit edilebilmesi için Hatalı kod bildirimi yaptıracaktır. Hatalı kod bildiriminiz direk üretici firma/yetkili satıcı tarafından kontrol edilip sonuçlandırılmaktadır. Gerekli kontroller sağlandıktan sonra en kısa sürede geri dönüş sağlanır ve yardımcı olunur.
<br>
<br>Epin Satın Aldım İade Etmek İstiyorum, ne yapabilirim?
<br>
<br>Epin, online teslimat ürünleri, dijital kod gibi ürünlerin iptal ve iadesi bulunmamaktadır. Sadece kod ile ilgili bir sorun olması durumunda gerekli kontroller sağlanır ve kod ile ilgili yardımcı olunur.
<br>Nasıl bakiye ekleyebilirim?
<br>Bakiye yükleme sayfamızdan sizin için en uygun yöntemi seçerek Havale-EFT, Razer kod, steam cüzdan kodu ve birçok ödeme yöntemi ile işlem sağlayabilirsiniz. Ödeme sayfası sizi en doğru şekilde yönlendirecektir. Ödeme bildiriminde istenilen bütün bilgileri eksiksiz bir şekilde girmeniz durumunda ve ödeme bildiriminden gelen aramayı ya da mesajı onaylamanız durumunda sorunsuz bir şekilde ödeme işleminizi tamamlamış olursunuz. Bir sorun olması durumunda canlı destek üzerinden yazın en doğru şekilde yönlendirmeyi sağlayalım.
<br>Mobil Ödeme nasıl yapabilirim?
<br>Şu an için mobil ödeme sitemizde mevcut değildir. İlerleyen süreçte mobil ödeme sistemi de aktif olacaktır. Konuyla ilgili site ve sosyal medya üzerinden gerekli bilgilendirmelere yapılacaktır.
<br>Havale/EFT İle Ödeme Nedir?
<br>Havale aynı bankadan, EFT ise farklı bankadan yapılan ödeme sistemidir.
<br>Havale ile istediğiniz saate, EFT ile ise haftaiçi saat 16:00’ a kadar ödeme işlemi sağlayabilirsiniz.
<br>Havale İşlemlerinde Kesinti Var mı? 
<br>Havale işlemlerinde kesinti ücreti alınabilir. Ödeme yaparken bankanız üzerinden görüntüleyebilirsiniz.
<br>Kredi Kartı İle Ödeme Yapabilir miyim?
<br>Ödeme yöntemlerimizden Kredi kartı ile ödeme seçeneğinden işlemlerinizi sağlayabilirsiniz.
<br>Üye Olmadan Ödeme İşlemi Sağlayabilir miyim?
<br>Ödeme işlemi ve satın alım işlemi yapabilmeniz için öncelikle üye olmanız gerekmektedir.
<br>Başkasının Kartından Ödeme Yapabilir miyim?
<br>Kimlik ve dekont ibraz etmeniz durumunda işlem sağlayabilirsiniz.

          
          </p>
        </div>
      </div>
    </div>

{% endblock %}